.vscode/**
.vscode-test/**
src/**
!src/lib/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!src/lib/**/*.ts
**/.vscode-test.*
esbuild.js
aider
.env
.melty
__pycache__
node_modules/**
out/test/**
webview-ui/src/**
webview-ui/public/**
webview-ui/node_modules/**
**/*.test.js
**/*.spec.js
**/*.test.ts
**/*.spec.ts
**/*.md
.github/**
