.vscode/**
.vscode-test/**
src/**
!src/lib/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!src/lib/**/*.ts
**/.vscode-test.*
esbuild.js
aider
.env
.melty
__pycache__
node_modules/**
